@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    margin-top: 10%;
}

img {
    background-color: lightskyblue;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 16px;
    margin-top: 16px;
}